# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=

NEXTAUTH_SECRET=

NEXTAUTH_URL=
# URL Base para el API del backend  
BASE_URL=

# URL Base para el login del backend
AUTH0_ACCESS_TOKEN_URL=
